# Text Preprocessing And Visualization For Wikimedia

In [1]:
import string
import pandas as pd

import matplotlib.pyplot as plt

import nltk
from nltk.corpus import stopwords
from textblob import Word, TextBlob
from wordcloud import WordCloud

from warnings import filterwarnings
filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

nltk.download('stopwords')
nltk.download("punkt")
nltk.download('wordnet')
nltk.download('vader_lexicon')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hunkargencyildiz/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/hunkargencyildiz/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/hunkargencyildiz/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/hunkargencyildiz/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [4]:
wiki_data = pd.read_csv("./datasets/wiki_data.csv", index_col=0)

In [5]:
wiki_data.head()

                                                text
1  Anovo\n\nAnovo (formerly A Novo) is a computer...
2  Battery indicator\n\nA battery indicator (also...
3  Bob Pease\n\nRobert Allen Pease (August 22, 19...
4  CAVNET\n\nCAVNET was a secure military forum w...
5  CLidar\n\nThe CLidar is a scientific instrumen...

## Text Preprocessing

In [31]:
class TextPreprocessing:
    def __init__(self, dataframe):
        self.df = dataframe
        self.df_columns = dataframe.columns
    def case_conversion(self):
        for col in self.df.columns:
            if str(self.df[col].dtype) == 'object':
                self.df[col] = self.df[col].str.lower()
                
        return self.df

In [32]:
tp = TextPreprocessing(wiki_data)

In [33]:
clean_data = tp.case_conversion()

In [34]:
clean_data.head()

                                                text
1  anovo\n\nanovo (formerly a novo) is a computer...
2  battery indicator\n\na battery indicator (also...
3  bob pease\n\nrobert allen pease (august 22, 19...
4  cavnet\n\ncavnet was a secure military forum w...
5  clidar\n\nthe clidar is a scientific instrumen...